@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oxanium);
  --font-mono: var(--font-oxanium);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oxanium), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea,
select {
  font-family: var(--font-oxanium), sans-serif;
}
